<app-header></app-header>
<header>
    <nav>
        <a routerLink="customeradd">customer add</a> | <a routerLink="customerlist">customer list</a> |  
        <a routerLink="employeeadd">employee add</a> | <a routerLink="employeelist">employee list</a> |
        <a routerLink="orderadd">order add</a> | <a routerLink="orderlist">order list</a>
    </nav>
</header>
<div>
    <div style="background-color: chartreuse;display: inline-block;width:200px;height:500px">
        This is Left Menu
    </div>
    <div style="display: inline-block">
    <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>


